.dispositivos-favoritos{
    padding: 5.6vw;
    text-align: center;
    h2{
        margin-bottom: 24px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        &__item{
            h4{
                margin-top: 20px;
                margin-bottom: 24px;
            }
            list-style: none;
            li{
                list-style: none;
            }
            img{
                width: 100%;
            }
            
        }
    }
}