@use 'var';

.shows{
    padding: 2vw 5.6vw;
    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        &--active{
            display: grid;
        }
        &__item{
            img{
                max-width: 100%;
                border-radius: 4px;
            }
        }
    }
    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: var.$texcolorS;
            font-size: 20px;
            margin: 0 1vw;
            text-transform: uppercase;
            background: none;
            border: none;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--active{
                border-color: var.$texcolorS;
            }
        }

        
    }
}