@use 'var';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'dispositivos-favoritos';
@use 'faq';
@use 'footer';
@use 'header';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px){
    color: var.$texcolorP;
    font-size: $fontSize;
    line-height: $fontSize + 10px;
}
@mixin title($fontSize:40px){
    @include text($fontSize);
    color: var.$texcolorS;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: var.$bkgcolor;
}

.text--big{
    @include text(18px);
    @media (max-width:768px){
        @include text(15px);
    }
}

.text{
    @include text;
    @media (max-width:768px){
        @include text(14px);
    }
}

.text--small{
    @include text(12px);
    @media (max-width:768px){
        @include text(11px);
    }
}

.link-text{
    @include text(18px);
    color: var.$texcolorS;
    text-decoration: underline;
}

.title--big{
    @include title(44px);
    @media (max-width:768px){
        @include title(26px);
    }
}

.title{
    @include title;

    @media (max-width:768px){
        @include title(24px);
    }

}

.title--small{
    @include title(28px);
    @media (max-width:768px){
        @include title(22px);
    }
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    font-size: 18px;
    color: var.$texcolorS;
    background-color: var.$butonPri;
    border: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid var.$butonPri;
    &:hover{
        background-color: lighten(var.$butonPri, 3%);
    }

    &--secondary{
        background-color: var.$butonSec;
        border-color: var.$butonSec;

        &:hover{
            background-color: lighten(var.$butonSec, 3%);
        }
    }

    &--dark{
        background-color: var.$buttonDark;
        border-color: var.$texcolorS;

        &:hover{
            background-color: var.$texcolorS;
            color: var.$bkgcolor;
        }
    }
}

.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width:768px){
        display: block;
    }

    img{
        max-width: 100%;
    }

    &__text-content{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full{
        display: block;
        position: relative;
    

        img{
            width: 100%;
        }
        &__text-content{
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 50%;
            width: calc(50% - 5.6vw);
            @media (max-width:768px){
                position: relative;
                left: 0;
                width: 100%;
            }
        
        }
    }
}